<div class="container">
  
  <div class="main">
      <div class="left-side">
          <app-left-side></app-left-side>
          <app-settings></app-settings>
          <app-profilepic></app-profilepic>
          <app-left-bar></app-left-bar>
      </div>
     
      <div class="right-side">
          <app-right-side></app-right-side>
          <div class="tool">
          <app-toolbar></app-toolbar>
          
          <app-message></app-message>
          <app-type></app-type>
          </div>
          <app-today></app-today>
      </div>

     
  </div>
</div>
