.message{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
button{
    width: 90%;
    height: 8%;
    background-color: #eedba3;
    border-radius: 5px;
    height: 60px;
    margin-top: 55%;
    outline: none;
    border: none;
}


