<div class="left-bar1"><br>
    <div class="pic1">

        <img src="../../assets/notti.png"><p>Notifications</p>
    </div><br>

    <div class="pic1">
       
        <img src="../../assets/sec.png"> <p>Security</p>
    </div><br>

    <div class="pic1">

        <img src="../../assets/theme.png"><p>Theme</p>
    </div><br>

    <div class="pic1">

        <img src="../../assets/chat.png"><p>Chatwallpaper</p>
    </div><br>
    <div class="pic1">

        <img src="../../assets/blocked.jpg"><p>Blocked</p>
        
    </div><br>
    <div class="pic1">

        <img src="../../assets/desktop.jpg"><p>Desktop settings</p>
        
    </div><br>
    <div class="pic1">

        <img src="../../assets/keyb.png"><p>KeyboardShortcuts</p>
        
    </div><br>
    <div class="pic1">

        <img src="../../assets/help.png"><p>Help</p>
        
    </div>
    
        
</div>

