.left-bar1{
    gap: 5px;
    height:48% ;
    margin-left: 5px;
    
    
}
.pic1, .pic{
    display: flex;
    flex-direction: row;
    text-align: center;
   
    gap: 15px;
    margin-left: 20px;
    margin-top: -10px;
    
}
img {
   width: 20px;
    margin-top: 20px;
    height: 20px;
  
    
    
}
p{
    margin-top: 20px;

}
hr{
    margin-left: 55px;
    color: snow;
    outline: none;
    background-color: snow;
    
}


